<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="projectPrefix">output</Property>
	    <Property name="rawPattern">[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n</Property>
	    <Property name="fileName">Log/${projectPrefix}.log</Property>
	    <Property name="filePattern">Log/%d{MM-dd-yyyy}/${projectPrefix}-%i.log</Property>
	</Properties>
	
	<Appenders>
		<RollingFile name="FILE" fileName="${fileName}" filePattern="${filePattern}">
			<PatternLayout pattern="${rawPattern}"/>
			<DefaultRolloverStrategy max="100" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
		<Async name="ASYNC">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="CONSOLE" />
		</Async>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="${rawPattern}"/>
		</Console>
	</Appenders>
	<Loggers>
<!-- 		<Root level="error"> -->
		<Root level="debug">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="ASYNC" />
		</Root>
	</Loggers>
</Configuration>